<div class="container h-100">
  @if (hasError) {
    <h1>{{ 'weather.weather-details.error-message' | translate }}</h1>
  } @else {
    @if(weathers.length === 0) {
      <h1>{{ 'weather.weather-details.city-unkown' | translate: {city} }}</h1>
    } @else {
      <div class="weather-details">
        <h1>{{ weathers[0].name }}</h1>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>{{ 'weather.weather-details.table-header.date' | translate }}</th>
              <th>{{ 'weather.weather-details.table-header.temperature' | translate }}</th>
              <th class="d-none d-sm-table-cell">{{ 'weather.weather-details.table-header.feels-like' | translate }}</th>
              <th class="d-none d-sm-table-cell">{{ 'weather.weather-details.table-header.humidity' | translate }}</th>
              <th class="d-none d-sm-table-cell">{{ 'weather.weather-details.table-header.description' | translate }}</th>
              <th class="d-none d-sm-table-cell">{{ 'weather.weather-details.table-header.main' | translate }}</th>
              <th class="d-none d-sm-table-cell">{{ 'weather.weather-details.table-header.wind-speed' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            @for (weather of weathers; track weather.id) {
              <tr *ngFor="let weather of weathers">
                <td>{{ weather.date }}</td>
                <td>{{ weather.temp }}</td>
                <td class="d-none d-sm-table-cell">{{ weather.feelsLike }}</td>
                <td class="d-none d-sm-table-cell">{{ weather.humidity }}</td>
                <td class="d-none d-sm-table-cell">{{ weather.description }}</td>
                <td class="d-none d-sm-table-cell">{{ weather.main }}</td>
                <td class="d-none d-sm-table-cell">{{ weather.windSpeed }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  }

  <div class="search-another">
    <button class="btn btn-primary" (click)="backToSearch()">
      {{ 'weather.weather-details.back-button.text' | translate }}
    </button>
  </div>
  
</div>