@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.greeting {
	text-align: center;
	justify-content: center;
	margin-top: 5rem;
	padding: 35px 20px;
	.greeting-text {
		font-size: 1.5em;
		font-weight: bold;
	}
	
	@include glass-background;
}

.city-search {
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10rem;
	.form-group {
		
		.city-search-input {
			width: 100%;
			border-radius: 10px;
			border-color: $white;
			font-size: 1.5em;
		}
	}

	.get-weather {
		display: flex;
		margin-top: 10px;
		justify-content: flex-end;
	}
}